 .meuNome {
    color: #f8cc09;
    text-align: center;
    display: block;
    border: 2px solid coral;
    }
.botao {
    padding: 10px;
    border-radius: 50px;
    background-color: coral;
    margin: 10px;
}    

#foto {
    display: inline-block;
    border-radius: 100px;
    padding: 10px;
    background-color: coral;
    margin-left: -300px;

}
#descricao {
    display: inline-block;
    color: #fcebcd;
    padding: 10px;
    border-radius: 100px;
    background-color: coral;
    margin: 20px;
    border-color: coral;
    position: absolute;
    top: 30%

}

 body {
    background-color: #b3855bc7;
    text-align: center;
    color: #fcebcd;
  }

  #citacao {
    padding: 20px;
  }
  
  #resido {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
     
  }
  h2 {
    color: #f8cc09;
    margin-top: 50px;
  }

  .Lista  {
    display: block;
    list-style: none;
  }
ul li:nth-child(odd) {
    font-style: italic
}

  .Comprometimento {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    margin-left: -50px;
  }
  .Paciência{
    font-size: 18px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -50px; 
  }
  .Foco{
    font-size: 18px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -50px;
  }
  .Determinação {
    font-size: 18px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -50px;
  }
  footer {
    margin-top: 70px;
  }