 h1 {
    color: #25aa03;
    text-align: center
    ;
    }

#foto {
    display: inline-block;
    border-radius: 100px;
    padding: 10px;
    background-color: coral;

}

 body {
    background-color: #b3855bc7;
    text-align: center;
    color: #fcebcd;
  }

  .resido {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: 600;
  }
  h2 {
    color: #25aa03;
  }

  .Lista  {
    display: block;
    list-style: none;
  }


  .Comprometimento {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
  }
  .Paciência{
    font-size: 18px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  .Foco{
    font-size: 18px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  .Determinação {
    font-size: 18px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
  }