h1 {
    color: #25aa03;
    }

  
  .descricao {
    color: #fcebcd;
  }

  body {
    background-color: #6d4913c7;
    text-align: center;
  }

  .resido {
    color: #fcebcd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: 600;
  }
  h2 {
    color: #25aa03;
  }



  .Comprometimento {
    font-size: 18px;
    color: #fcebcd;
    font-family: Arial, Helvetica, sans-serif;
  }
  .Paciência{
    font-size: 18px;
    color: #fcebcd;
    font-family: Arial, Helvetica, sans-serif;
  }
  .Foco{
    font-size: 18px;
    color: #fcebcd;
    font-family: Arial, Helvetica, sans-serif;
  }
  .Determinação {
    font-size: 18px;
    color: #fcebcd;
    font-family: Arial, Helvetica, sans-serif;
  }